/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   background-image: url("https://c1.staticflickr.com/7/6084/6070496071_7cd42fe339_b.jpg");
   background-repeat: no-repeat;

 }

 .container{width:50px; margin:0 auto; margin-top:40px; text-align: center;}
 .switch_checkbox{display:none;}
 .switchbtn {width: 200px;height: 90px;background-color: #ccc; z-index: 0; margin: 0; padding: 0; cursor: pointer; position: relative; border-radius: 100px;    margin: 0 auto;}
 .switchbtn:before {content: ' ';position: absolute;left: 2px;top: 2px;width: 196px;height: 86px;background: #f5f5f5;z-index: 99;border-radius: 52px;}
 .switchbtn:after {content: 'OFF';height: 54px;width: 85px; border-radius: 52px; background-color: #fff; position: absolute; z-index: 999; top: 2px; left: 2px;
     text-align: center; box-shadow: 0 2px 5px #999999; padding-top: 30px; font-size: 25px;}
 .switchon, .switchon:before {background-color: #00709D !important;}
 .switchon:after {left: 113px !important;content: 'ON'; color: #00709D;}
