<h1>Welcome to car simulator</h1>
<form method="get" action="simulator/run">
  <input type="text" name="make" placeholder="make"/>
  <input type="text" name="model" placeholder="model"/>
  <input type="text" name="year" placeholder="year"/>
  <input type="submit" value="Make Car!!"/>
</form>
